@font-face {
  font-family: "Gilroy_R";
  src: url(../../fonts/Gilroy-Regular.ttf);
}

@font-face {
  font-family: "Gilroy_M";
  src: url(../../fonts/Gilroy-Medium.ttf);
}

@font-face {
  font-family: "Gilroy_B";
  src: url(../../fonts/Gilroy-Bold.ttf);
}

@font-face {
  font-family: "Gilroy_SB";
  src: url(../../fonts/Gilroy-SemiBold.ttf);
}

@font-face {
  font-family: "Gilroy_Italics_M";
  src: url(../../fonts/Gilroy-MediumItalic.ttf);
}

a {
  text-decoration: none;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-calendar-picker-indicator {
  cursor: pointer;
  color: #b1b1b1;
  padding-right: 0.8333333333333334vw;
}

::-webkit-file-upload-button {
  background: #eeecfc;
  border-radius: 0.3125vw;
  border: none;
  margin-right: 1.0416666666666667vw;
  outline: none;
}

.disabled {
  opacity: 40%;
  pointer-events: none;
}

.cursor-disable {
  cursor: not-allowed;
}

.error-visible {
  visibility: visible;
}

.error-hidden {
  visibility: hidden;
}

::-webkit-input-placeholder {
  color: #b1b1b1;
}

:-ms-input-placeholder {
  color: #b1b1b1;
}

::-ms-input-placeholder {
  color: #b1b1b1;
}

::placeholder {
  color: #b1b1b1;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #f9f9f9;
}

.dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dashboard .sidebar {
  width: 18.229166666666668vw;
  height: 100vh;
  overflow-y: hidden;
  background: #fff;
  -webkit-box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.01);
          box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.01);
  border-radius: 0px 1.5625vw 1.5625vw 0px;
  padding: 0px 1.875vw 2.1875vw 1.875vw;
}

.dashboard .sidebar .brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.6666666666666667vw 0px;
}

.dashboard .sidebar .brand img {
  width: 7.864583333333333vw;
  height: auto;
}

.dashboard .sidebar .brand .user {
  font-family: "Gilroy_SB";
  font-size: 0.8333333333333334vw;
  color: #5744e3;
  padding: 0.15625vw 0.7291666666666666vw 0.15625vw 0.7291666666666666vw;
  background: #eeecfc;
  border-radius: 0.7291666666666666vw;
}

.dashboard .sidebar .division {
  height: 0.10416666666666667vw;
  width: 100%;
  border-radius: 0.10416666666666667vw;
  background: #eeecfc;
}

.dashboard .sidebar .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 82%;
  margin: 2.5vw 0 2.1875vw 0;
}

.dashboard .sidebar .links .menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.0416666666666667vw;
}

.dashboard .sidebar .links .menus .menu {
  text-decoration: none;
  cursor: pointer;
  padding: 0.625vw 0 0.625vw 0.625vw;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.5208333333333334vw;
          column-gap: 0.5208333333333334vw;
  border-radius: 0.5208333333333334vw;
}

.dashboard .sidebar .links .menus .menu.active {
  background: #5744e3;
}

.dashboard .sidebar .links .menus .menu:hover {
  background: #5744e3;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.dashboard .sidebar .links .menus .menu:hover .text {
  color: #fff;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.dashboard .sidebar .links .menus .menu:hover svg .str {
  stroke: #fff;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.dashboard .sidebar .links .menus .menu svg {
  height: 1.25vw;
  width: 1.25vw;
}

.dashboard .sidebar .links .menus .menu svg .active {
  stroke: #fff;
}

.dashboard .sidebar .links .menus .menu .text {
  font-family: "Gilroy_SB";
  font-size: 1.0416666666666667vw;
  color: #1e1e1e;
}

.dashboard .sidebar .links .menus .menu .text.active {
  color: #fff;
}

.dashboard .sidebar .logout a {
  text-decoration: none;
  cursor: pointer;
  padding: 0.7291666666666666vw 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.5208333333333334vw;
          column-gap: 0.5208333333333334vw;
  border-radius: 0.5208333333333334vw;
  background: #eeecfc;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dashboard .sidebar .logout a:hover {
  background: #5744e3;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.dashboard .sidebar .logout a:hover .text {
  color: #fff;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.dashboard .sidebar .logout a:hover svg .str {
  stroke: #fff;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.dashboard .sidebar .logout a svg {
  height: 1.25vw;
  width: 1.25vw;
}

.dashboard .sidebar .logout a .text {
  font-family: "Gilroy_SB";
  font-size: 1.0416666666666667vw;
  color: #1e1e1e;
}

.dashboard .container {
  margin: 2.39583vw 3.28125vw 0 calc(24.791666666666668vw - 3.28125vw);
  width: calc(100% - 24.791666666666668vw);
}

.dashboard .container .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dashboard .container .header .title {
  font-family: Gilroy_SB;
  font-size: 1.9791666666666667vw;
}

.dashboard .container .committee-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 0px 0.52083vw 1.04167vw rgba(237, 237, 237, 0.25);
          box-shadow: 0px 0.52083vw 1.04167vw rgba(237, 237, 237, 0.25);
  border-radius: 0.5208333333333334vw;
  padding: 1.25vw;
  margin-top: 2.6041666666666665vw;
  -webkit-column-gap: 1.25vw;
          column-gap: 1.25vw;
}

.dashboard .container .committee-details .basic-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.9375vw;
          column-gap: 0.9375vw;
}

.dashboard .container .committee-details .basic-description .img {
  height: 6.979166666666667vw;
  width: 6.979166666666667vw;
  border-radius: 0.20833333333333334vw;
  overflow: hidden;
}

.dashboard .container .committee-details .basic-description .img img {
  height: 100%;
}

.dashboard .container .committee-details .basic-description .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.4166666666666667vw;
}

.dashboard .container .committee-details .basic-description .description .heading {
  font-family: "Gilroy_SB";
  color: #1e1e1e;
  font-size: 1.25vw;
}

.dashboard .container .committee-details .basic-description .description .det {
  width: 33.333333333333336vw;
  font-family: "Gilroy_M";
  font-size: 0.9375vw;
  color: #8b8b8b;
  line-height: 1.25vw;
}

.dashboard .container .committee-details .other-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 5.208333333333333vw;
          column-gap: 5.208333333333333vw;
}

.dashboard .container .committee-details .other-contents .other-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.25vw;
          column-gap: 1.25vw;
  margin-top: 0.4166666666666667vw;
}

.dashboard .container .committee-details .other-contents .other-content .divider {
  height: 100%;
  width: 0.10416666666666667vw;
  border-radius: 0.20833333333333334vw;
  background: #ececec;
}

.dashboard .container .committee-details .other-contents .other-content .contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.3541666666666667vw;
}

.dashboard .container .committee-details .other-contents .other-content .contents .content {
  font-family: "Gilroy_M";
  font-size: 0.9375vw;
  color: #8b8b8b;
}

.dashboard .container .committee-details .other-contents .other-content .contents .content span {
  margin-left: 0.4166666666666667vw;
  font-family: "Gilroy_SB";
  color: #1e1e1e;
}

.dashboard .container .committee-details .other-contents .other-content .contents .content span #act {
  margin-left: -0.4166666666666667vw;
  color: #039b00;
}

.dashboard .container .committee-details .other-contents .other-content .contents .content span #inact {
  margin-left: -0.4166666666666667vw;
  color: #ec0000;
}

.dashboard .container .tab-menu {
  margin-top: 2.1875vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dashboard .container .tab-menu .tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.25vw;
          column-gap: 1.25vw;
}

.dashboard .container .tab-menu .tabs .tab {
  font-family: "Gilroy_SB";
  font-size: 1.0416666666666667vw;
  color: #868686;
  padding: 0.4166666666666667vw 1.25vw;
  border-radius: 0.5208333333333334vw;
  cursor: pointer;
}

.dashboard .container .tab-menu .tabs .tab:hover {
  color: #5744e3;
}

.dashboard .container .tab-menu .tabs .tab-active {
  color: #5744e3;
  background: #eeecfc;
  width: auto;
}

.dashboard .container .tab-menu .tabs .tab-active::after {
  content: "";
  position: relative;
  display: block;
  width: calc(100% + 2.5vw);
  height: 0.10416666666666667vw;
  background: #5744e3;
  top: 1.1458333333333333vw;
  left: -1.25vw;
}

.dashboard .container .tab-menu .underline {
  margin-top: 0.625vw;
  height: 0.10416666666666667vw;
  width: 100%;
  background: #d9d5f5;
  border-radius: 0.20833333333333334vw;
}

.dashboard .container .tab-content {
  margin-top: 2.1875vw;
  display: none;
}

.dashboard .container .tab-content .content-table .headings {
  margin: 0px 0.8333333333333334vw 0 0.8333333333333334vw;
  font-family: "Gilroy_SB";
  font-size: 1.0416666666666667vw;
  color: #1e1e1e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dashboard .container .tab-content .content-table .datas {
  margin-top: 1.25vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.25vw;
}

.dashboard .container .tab-content .content-table .datas .data {
  padding: 1.0416666666666667vw;
  background: #fff;
  border-radius: 0.5208333333333334vw;
  font-family: "Gilroy_M";
  font-size: 0.9375vw;
  color: #545454;
}

.dashboard .container .tab-content .content-table .datas .data td {
  padding-right: 1.4583333333333333vw;
  vertical-align: top;
  text-align: left;
}

.dashboard .container .tab-content .content-table .datas .no-result {
  font-family: "Gilroy_M";
  font-size: 1.0416666666666667vw;
  color: #8b8b8b;
  text-align: center;
  -webkit-transform: translateX(-3.125vw);
          transform: translateX(-3.125vw);
  margin-top: 5.208333333333333vw;
}

.dashboard .container .tab-content .pending-task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.875vw;
}

.dashboard .container .tab-content .pending-task .task {
  padding: 0.8333333333333334vw 0.8333333333333334vw 0.9375vw 0.8333333333333334vw;
  background: #fff;
  -webkit-box-shadow: 0px 0.52083vw 1.04167vw rgba(237, 237, 237, 0.25);
          box-shadow: 0px 0.52083vw 1.04167vw rgba(237, 237, 237, 0.25);
  border-radius: 0.5208333333333334vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.8333333333333334vw;
  width: 21.25vw;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.dashboard .container .tab-content .pending-task .task .detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.625vw;
}

.dashboard .container .tab-content .pending-task .task .detail .title {
  font-family: "Gilroy_SB";
  font-size: 1.0416666666666667vw;
  color: #1e1e1e;
}

.dashboard .container .tab-content .pending-task .task .detail .description {
  font-family: "Gilroy_M";
  font-size: 0.8333333333333334vw;
  color: #8b8b8b;
  line-height: 1.25vw;
  height: 3.28125vw;
}

.dashboard .container .tab-content .pending-task .task .divider {
  width: 100%;
  height: 0.10416666666666667vw;
  border-radius: 0.10416666666666667vw;
  background: #d9d5f5;
}

.dashboard .container .tab-content .pending-task .task .dates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.625vw;
}

.dashboard .container .tab-content .pending-task .task .dates .date {
  font-family: "Gilroy_M";
  font-size: 0.8333333333333334vw;
  color: #8b8b8b;
}

.dashboard .container .tab-content .pending-task .task .dates .date span {
  margin-left: 0.4166666666666667vw;
  font-family: "Gilroy_SB";
  color: #1e1e1e;
}

.dashboard .container .tab-content .pending-task .task:hover {
  -webkit-box-shadow: 0px 0.52083vw 1.04167vw rgba(0, 0, 0, 0.062);
          box-shadow: 0px 0.52083vw 1.04167vw rgba(0, 0, 0, 0.062);
  -webkit-transform: scale(1.015);
          transform: scale(1.015);
}

.dashboard .container .tab-content .pending-task .no-result {
  position: absolute;
  font-family: "Gilroy_M";
  font-size: 1.0416666666666667vw;
  color: #8b8b8b;
  left: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  margin-top: 5.208333333333333vw;
}

.dashboard .container .tab-con-active {
  display: block;
}

.alertt {
  background: #fff;
  padding: 0.9375vw 0.9375vw 0.9375vw 1.25vw;
  -webkit-box-shadow: 0px 7px 0.83333vw rgba(0, 0, 0, 0.16);
          box-shadow: 0px 7px 0.83333vw rgba(0, 0, 0, 0.16);
  border-radius: 6px;
  border-left: 0.52083vw solid #ec0000;
  position: fixed;
  bottom: 5%;
  right: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.6666666666666667vw;
          column-gap: 1.6666666666666667vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 4;
}

.alertt .econtent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.5208333333333334vw;
          column-gap: 0.5208333333333334vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.alertt .econtent img {
  width: 1.1458333333333333vw;
  height: auto;
}

.alertt .econtent .text {
  font-family: "Gilroy_M";
  font-size: 0.9375vw;
}

.alertt .alert-close {
  width: 0.8333333333333334vw;
  height: auto;
  cursor: pointer;
}

.alert-hidden {
  visibility: hidden;
}

.alert-visible {
  visibility: visible;
}
/*# sourceMappingURL=cm_dashboard.css.map */