@import "../components.scss";

@mixin card($shadow, $padding) {
  text-decoration: none;
  cursor: pointer;
  display: flex;
  column-gap: 0.625vw;
  align-items: center;
  padding: $padding;
  width: 13.541666666666666vw;
  background: $white;
  box-shadow: $shadow;
  border-radius: 0.5208333333333334vw;
  transition: 0.2s ease-in-out;
}

body {
  background: $bg;
}

.dashboard {
  display: flex;
  .sidebar {
    @include sidebar();
  }
  .container {
    margin: 2.3958333333333335vw 3.28125vw 0
      calc(24.791666666666668vw - 3.28125vw);
    width: calc(100% - 24.791666666666668vw);
    .header {
      display: flex;
      justify-content: space-between;
      .title {
        font-family: Gilroy_SB;
        font-size: 1.9791666666666667vw;
      }
    }
    .committee-details {
      display: flex;
      width: 100%;
      background: $white;
      box-shadow: 0px 0.5208333333333334vw 1.0416666666666667vw
        rgba(237, 237, 237, 0.25);
      border-radius: 0.5208333333333334vw;
      padding: 1.25vw;
      margin-top: 2.6041666666666665vw;
      column-gap: 1.25vw;
      .basic-description {
        display: flex;
        column-gap: 0.9375vw;
        .img {
          height: 6.979166666666667vw;
          width: 6.979166666666667vw;
          border-radius: 0.20833333333333334vw;
          overflow: hidden;
          img {
            height: 100%;
          }
        }
        .description {
          display: flex;
          flex-direction: column;
          row-gap: 0.4166666666666667vw;
          .heading {
            font-family: "Gilroy_SB";
            color: $text;
            font-size: 1.25vw;
          }
          .det {
            width: 33.333333333333336vw;
            font-family: "Gilroy_M";
            font-size: 0.9375vw;
            color: $subText;
            line-height: 1.25vw;
          }
        }
      }
      .other-contents {
        display: flex;
        column-gap: 5.208333333333333vw;
        .other-content {
          display: flex;
          column-gap: 1.25vw;
          margin-top: 0.4166666666666667vw;
          .divider {
            height: 100%;
            width: 0.10416666666666667vw;
            border-radius: 0.20833333333333334vw;
            background: #ececec;
          }
          .contents {
            display: flex;
            flex-direction: column;
            row-gap: 1.3541666666666667vw;
            .content {
              font-family: "Gilroy_M";
              font-size: 0.9375vw;
              color: $subText;
              span {
                margin-left: 0.4166666666666667vw;
                font-family: "Gilroy_SB";
                color: $text;
                #act {
                  margin-left: -0.4166666666666667vw;
                  color: $green;
                }
                #inact {
                  margin-left: -0.4166666666666667vw;
                  color: $error;
                }
              }
            }
          }
        }
      }
    }
    .tab-menu {
      margin-top: 2.1875vw;
      display: flex;
      flex-direction: column;
      .tabs {
        display: flex;
        column-gap: 1.25vw;
        .tab {
          font-family: "Gilroy_SB";
          font-size: 1.0416666666666667vw;
          color: $tabText;
          padding: 0.4166666666666667vw 1.25vw;
          border-radius: 0.5208333333333334vw;
          cursor: pointer;
          &:hover {
            color: $primary;
          }
        }
        .tab-active {
          color: $primary;
          background: $primaryFade;
          width: auto;
          &::after {
            content: "";
            position: relative;
            display: block;
            width: calc(100% + 2.5vw);
            height: 0.10416666666666667vw;
            background: $primary;
            top: 1.1458333333333333vw;
            left: -1.25vw;
          }
        }
      }
      .underline {
        margin-top: 0.625vw;
        height: 0.10416666666666667vw;
        width: 100%;
        background: #d9d5f5;
        border-radius: 0.20833333333333334vw;
      }
    }
    .tab-content {
      margin-top: 2.1875vw;
      display: none;
      .content-table {
        .headings {
          margin: 0px 0.8333333333333334vw 0 0.8333333333333334vw;
          font-family: "Gilroy_SB";
          font-size: 1.0416666666666667vw;
          color: $text;
          display: flex;
        }
        .datas {
          margin-top: 1.25vw;
          display: flex;
          flex-direction: column;
          row-gap: 1.25vw;
          .data {
            padding: 1.0416666666666667vw;
            background: $white;
            border-radius: 0.5208333333333334vw;
            font-family: "Gilroy_M";
            font-size: 0.9375vw;
            color: $darkSubText;
            td {
              padding-right: 1.4583333333333333vw;
              vertical-align: top;
              text-align: left;
            }
          }
          .no-result {
            font-family: "Gilroy_M";
            font-size: 1.0416666666666667vw;
            color: $subText;
            text-align: center;
            transform: translateX(-3.125vw);
            margin-top: 5.208333333333333vw;
          }
        }
      }
      .pending-task {
        display: flex;
        flex-wrap: wrap;
        gap: 1.875vw;
        .task {
          padding: 0.8333333333333334vw 0.8333333333333334vw 0.9375vw
            0.8333333333333334vw;
          background: $white;
          box-shadow: 0px 0.5208333333333334vw 1.0416666666666667vw
            rgba(237, 237, 237, 0.25);
          border-radius: 0.5208333333333334vw;
          display: flex;
          flex-direction: column;
          row-gap: 0.8333333333333334vw;
          width: 21.25vw;
          transition: 0.2s ease-in-out;
          .detail {
            display: flex;
            flex-direction: column;
            row-gap: 0.625vw;
            .title {
              font-family: "Gilroy_SB";
              font-size: 1.0416666666666667vw;
              color: $text;
            }
            .description {
              font-family: "Gilroy_M";
              font-size: 0.8333333333333334vw;
              color: $subText;
              line-height: 1.25vw;
              height: 3.28125vw;
            }
          }
          .divider {
            width: 100%;
            height: 0.10416666666666667vw;
            border-radius: 0.10416666666666667vw;
            background: #d9d5f5;
          }
          .dates {
            display: flex;
            flex-direction: column;
            row-gap: 0.625vw;
            .date {
              font-family: "Gilroy_M";
              font-size: 0.8333333333333334vw;
              color: $subText;
              span {
                margin-left: 0.4166666666666667vw;
                font-family: "Gilroy_SB";
                color: $text;
              }
            }
          }
          &:hover {
            box-shadow: 0px 0.5208333333333334vw 1.0416666666666667vw
              rgba(0, 0, 0, 0.062);
            transform: scale(1.015);
          }
        }
        .no-result {
          position: absolute;
          font-family: "Gilroy_M";
          font-size: 1.0416666666666667vw;
          color: $subText;
          left: 50%;
          transform: translateX(50%);
          margin-top: 5.208333333333333vw;
        }
      }
    }
    .tab-con-active {
      display: block;
    }
  }
}

//Alert
@include error-alert();
