@import "../components.scss";

body {
    background: $bg;
}

.dashboard {
    display: flex;
    .sidebar {
        @include sidebar();
    }
    .container {
        margin: 46px 63px 0 calc(476px - 63px);
        width: calc(100% - 476px);
        .header {
            display: flex;
            justify-content: space-between;
            .title {
                font-family: Gilroy_SB;
                font-size: 38px;
            }
        }
    }
}

//Alert
@include error-alert();