@import "../components.scss";

@mixin card($shadow, $padding) {
  text-decoration: none;
  cursor: pointer;
  display: flex;
  column-gap: 12px;
  align-items: center;
  padding: $padding;
  width: 260px;
  background: $white;
  box-shadow: $shadow;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
}

@mixin desCard() {
  height: 222px;
  width: 704px;
  background: $white;
  box-shadow: 0px 10px 20px rgba(237, 237, 237, 0.25);
  border-radius: 10px;
  padding: 20px 24px;
}

@mixin content() {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  .detail {
    font-family: "Gilroy_M";
    font-size: 18px;
    color: $subText;
    span {
      font-family: "Gilroy_SB";
      font-size: 18px;
      color: $text;
      margin-left: 8px;
    }
  }
}

body {
  background: $bg;
}

.dashboard {
  display: flex;
  .sidebar {
    @include sidebar();
  }
  .container {
    margin: 0px 63px 0 calc(476px - 63px);
    width: calc(100% - 476px);
    .header {
      display: flex;
      justify-content: space-between;
      .title {
        font-family: Gilroy_SB;
        font-size: 38px;
      }
    }
    .bread-crumbs {
      margin-top: 48px;
      display: flex;
      column-gap: 4px;
      align-items: center;
      .previous {
        font-family: "Gilroy_M";
        font-size: 16px;
        color: $subText;
      }
      svg {
        .str {
          stroke: $text;
        }
      }
      .now {
        font-family: "Gilroy_SB";
        font-size: 16px;
        color: $text;
      }
    }
    .task-det {
      margin-top: 38px;
      display: flex;
      justify-content: space-between;
      .card1 {
        @include desCard();
        .content {
          display: flex;
          flex-direction: column;
          row-gap: 8px;
          .heading {
            font-family: "Gilroy_SB";
            font-size: 24px;
            color: $text;
          }
          .description {
            font-family: "Gilroy_M";
            font-size: 18px;
            color: $subText;
            line-height: 26px;
            max-width: 656px;
          }
        }
      }
      .card2 {
        @include desCard();
        .heading {
          font-family: "Gilroy_SB";
          font-size: 24px;
          color: $text;
        }
        .content {
          display: flex;
          width: 100%;
          margin-top: 16px;
          align-items: center;
          .right {
            flex: 1;
            @include content();
          }
          .left {
            display: flex;
            column-gap: 24px;
            align-items: center;
            flex: 1;
            .divider {
              background: #ececec;
              height: 60px;
              width: 2px;
              border-radius: 4px;
            }
            .details {
              @include content();
            }
          }
        }
        .buttons {
          display: flex;
          column-gap: 24px;
          margin-top: 18px;
          .secondary-btn {
            @include secondary_button(100%);
          }
        }
      }
    }
    .title {
      margin-top: 48px;
      font-family: "Gilroy_SB";
      font-size: 28px;
    }
    .add-task-report {
      margin-top: 24px;
      padding: 8px 24px;
      color: $white;
      background: $primary;
      border-radius: 10px;
      font-family: "Gilroy_SB";
      font-size: 20px;
      width: 193px;
      cursor: pointer;
      transition: 0.2s ease-in-out;
      &:active {
        transform: scale(0.98);
      }
    }
    .report-cards {
      margin: 32px 0 60px 0;
      display: flex;
      gap: 36px;
      flex-wrap: wrap;
      .report-card {
        background: $white;
        padding: 24px;
        width: 704px;
        height: 432px;
        box-shadow: 0px 10px 20px rgba(237, 237, 237, 0.25);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        .header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: $text;
          .r-title {
            font-family: "Gilroy_SB";
            font-size: 24px;
          }
          .date {
            font-family: "Gilroy_M";
            font-size: 18px;
          }
        }
        .r-description {
          margin-top: 8px;
          width: 656px;
          font-family: "Gilroy_M";
          font-size: 18px;
          color: $subText;
          line-height: 26px;
        }
        .photosec {
          margin-top: 18px;
          display: flex;
          flex-direction: column;
          row-gap: 12px;
          .p-title {
            font-family: "Gilroy_SB";
            font-size: 18px;
            color: $text;
          }
          .photos {
            display: flex;
            column-gap: 12px;
            .photo {
              border-radius: 10px;
              width: 123px;
              height: 72px;
              overflow: hidden;
              cursor: pointer;
              img {
                width: 100%;
              }
            }
          }
        }
        .r-divider {
          margin-top: 28px;
          width: 100%;
          height: 2px;
          border-radius: 2px;
          background: #ececec;
        }
        .bottom-sec {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 18px;
          .status {
            font-family: "Gilroy_M";
            font-size: 18px;
            color: $subText;
            .pen {
              font-family: "Gilroy_SB";
              color: $primary;
              margin-left: 8px;
            }
          }
          .delete-btn {
            height: 44px;
            width: 44px;
            cursor: pointer;
          }
        }
      }
    }
  }
}

//Alert
@include error-alert();
