@import "../components.scss";

body {
    background: $bg;
}

.dashboard {
    display: flex;
    .sidebar {
        @include sidebar();
    }
    .container {
        margin: 46px 63px 0 calc(476px - 63px);
        width: calc(100% - 476px);
        .header {
            display: flex;
            justify-content: space-between;
            .title {
                font-family: Gilroy_SB;
                font-size: 38px;
            }
        }
        .bread-crumbs {
          margin-top: 60px;
          display: flex;
          column-gap: 4px;
          align-items: center;
          .previous {
            font-family: "Gilroy_M";
            font-size: 16px;
            color: $subText;
          }
          svg {
            .str {
              stroke: $text;
            }
          }
          .now {
            font-family: "Gilroy_SB";
            font-size: 16px;
            color: $text;
          }
        }
    }
}

//Alert
@include error-alert();