@import "../components.scss";

@mixin card($shadow) {
  text-decoration: none;
  cursor: pointer;
  display: flex;
  column-gap: 0.625vw;
  align-items: center;
  padding: 0.625vw;
  width: 13.541666666666666vw;
  background: $white;
  box-shadow: $shadow;
  border-radius: 0.5208333333333334vw;
  transition: 0.2s ease-in-out;
}

body {
  background: $bg;
}

.main {
  display: flex;
  .sidebar {
    @include sidebar();
  }
  //content
  .container {
    margin: 2.3958333333333335vw 3.28125vw;
    width: calc(100% - 24.791666666666668vw);

    .header {
      display: flex;
      justify-content: space-between;

      .title {
        font-family: Gilroy_SB;
        font-size: 1.9791666666666667vw;
      }
    }
    // content
    .change-pass {
      margin: 3.125vw 0;
      display: flex;
      flex-direction: column;
      padding: 1.875vw 2.5vw 2.5vw 2.5vw;
      background: $white;
      width: 28.958333333333332vw;
      box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.02);
      border-radius: 0.8333333333333334vw;

      .text {
        font-family: "Gilroy_Italics_M";
        font-size: 0.7291666666666666vw;
        color: $text;
        line-height: 0.9895833333333334vw;
      }

      .inputs {
        display: flex;
        flex-direction: column;
        row-gap: 1.6666666666666667vw;
        margin-top: 1.6666666666666667vw;
        @include input_fields(23.958333333333332vw);
      }

      .button {
        margin-top: 1.6666666666666667vw;
        .primary-button {
          @include primary_button(23.958333333333332vw);
        }
      }
    }
  }
}

@include error-alert();

@include loading();
