@import "../components.scss";

body {
  background: $bg;
}

.main {
  display: flex;
  .sidebar {
    @include sidebar();
  }
  .container {
    margin: 2.3958333333333335vw 3.28125vw;
    width: calc(100% - 24.791666666666668vw);
    .header {
      display: flex;
      justify-content: space-between;
      .title {
        font-family: Gilroy_SB;
        font-size: 1.9791666666666667vw;
      }
      .search {
        svg {
          position: relative;
          left: 1.9791666666666667vw;
          height: 1.0416666666666667vw;
          width: 1.0416666666666667vw;
          top: 0.15625vw;
        }
        input {
          width: 21.25vw;
          font-size: 0.9375vw;
          font-family: "Gilroy_M";
          padding: 0.8333333333333334vw 0px 0.8333333333333334vw 42px;
          border-radius: 0.5208333333333334vw;
          border: 1px solid $border;
          color: $text;
          outline: none;
          transition: 0.2s ease-in-out;
          &:focus {
            border: 1px solid $text;
          }
          &:focus svg .str {
            stroke: $text;
          }
        }
      }
    }
    .bread-crumbs {
      margin-top: 3.125vw;
      display: flex;
      column-gap: 0.20833333333333334vw;
      align-items: center;
      .previous {
        font-family: "Gilroy_M";
        font-size: 0.8333333333333334vw;
        color: $subText;
      }
      svg {
        .str {
          stroke: $text;
        }
      }
      .now {
        font-family: "Gilroy_SB";
        font-size: 0.8333333333333334vw;
        color: $text;
      }
    }
    .member-data {
      display: flex;
      width: 100%;
      background: $white;
      box-shadow: 0px 0.5208333333333334vw 1.0416666666666667vw
        rgba(237, 237, 237, 0.25);
      border-radius: 0.5208333333333334vw;
      padding: 1.25vw;
      margin-top: 1.9791666666666667vw;
      justify-content: space-between;
      .basic-details {
        display: flex;
        align-items: center;
        column-gap: 0.9375vw;
        img {
          height: 6.822916666666667vw;
          width: 6.822916666666667vw;
          border-radius: 0.20833333333333334vw;
        }
        .details {
          display: flex;
          flex-direction: column;
          row-gap: 0.625vw;
          .name {
            font-family: "Gilroy_SB";
            font-size: 1.25vw;
            color: $text;
          }
          .info {
            font-family: "Gilroy_M";
            font-size: 0.9375vw;
            color: $subText;
          }
          .tag {
            display: flex;
            font-family: "Gilroy_SB";
            font-size: 0.7291666666666666vw;
            color: $primary;
            padding: 0.15625vw 0.625vw;
            background: $primaryFade;
            border-radius: 0.5208333333333334vw;
            width: 4.270833333333333vw;
          }
        }
      }
    }
    .other-content {
      display: flex;
      align-items: center;
      column-gap: 1.25vw;
      .divider {
        height: 100%;
        width: 0.10416666666666667vw;
        border-radius: 0.20833333333333334vw;
        background: #ececec;
      }
      .contents {
        display: flex;
        flex-direction: column;
        row-gap: 1.3541666666666667vw;
        .content {
          font-family: "Gilroy_M";
          font-size: 0.9375vw;
          color: $subText;
          span {
            margin-left: 0.4166666666666667vw;
            font-family: "Gilroy_SB";
            color: $text;
          }
        }
      }
    }
    .buttons {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .update {
        @include secondary_button(100%);
        padding: 0.8333333333333334vw 4.270833333333333vw;
      }
      .remove {
        @include secondary_button(100%);
        border: 2px solid $error;
        color: $error;
        padding: 0.8333333333333334vw 4.270833333333333vw;
        &:hover {
          background: #fff9f9;
        }
      }
    }
    .analytics {
      width: 100%;
      height: 26.041666666666668vw;
      background: $white;
      box-shadow: 0px 0.5208333333333334vw 1.0416666666666667vw
        rgba(237, 237, 237, 0.25);
      border-radius: 0.5208333333333334vw;
      padding: 1.25vw;
      margin-top: 1.9791666666666667vw;
      .title {
        font-family: "Gilroy_SB";
        font-size: 1.4583333333333333vw;
        color: $text;
      }
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(0.5208333333333334vw);
}

.box {
  @include box_model(28.958333333333332vw, auto);
  .inputs {
    display: flex;
    flex-direction: column;
    row-gap: 1.6666666666666667vw;
    margin-top: 2.0833333333333335vw;
    @include input_fields(23.958333333333332vw);
    .half-input {
      display: flex;
      justify-content: space-between;
      @include input_fields(11.25vw);
    }
  }
  .button {
    .primary-button {
      @include primary_button(100%);
    }
  }
}

.modal-hidden {
  display: none;
  pointer-events: none;
}

@include error-alert();
