@import "../components.scss";

body {
  background-color: linear-gradient(110.33deg, #ffffff 0%, #ededed 107.08%);
  overflow-x: hidden;
  // padding:0 226px;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
  z-index: -2;
}

.main {
  .header {
    height: 100px;
    width: 100vw;
    background: $white;
    padding: 0 226px;
    display: flex;
    align-items: center;
    box-shadow: 0px 10px 20px rgba(69, 69, 69, 0.02);
    .logo {
      flex: 1;
      img {
        width: 151px;
        height: auto;
      }
    }
    .links {
      flex: 1;
      display: flex;
      column-gap: 56px;
      justify-content: flex-end;
      align-items: center;
      .link {
        font-family: "Gilroy_SB";
        font-size: 20px;
        color: $text;
        transition: 0.2s ease-in-out;
        &:hover {
          color: $primary;
        }
      }
      .login-btn {
        padding: 12px 56px;
        border-radius: 10px;
        background: $primary;
        color: $white;
        &:hover {
          color: $white;
          box-shadow: 0px 6px 12px rgba(87, 68, 227, 0.3);
          transform: scale(1.03);
        }
        &:active {
          box-shadow: none;
          transform: scale(1);
        }
      }
    }
  }
  .hero {
    display: flex;
    align-items: center;
    padding: 0 226px;
    margin-top: 90px;
    .content {
      flex: 1;
      display: flex;
      flex-direction: column;
      row-gap: 24px;
      .heading {
        font-family: "Gilroy_B";
        font-size: 52px;
        line-height: 71px;
        color: $text;
        span {
          color: $primary;
        }
      }
      .description {
        font-family: "Gilroy_M";
        font-size: 20px;
        line-height: 30px;
      }
      .cta {
        display: flex;
        width: 230px;
        background: #fff;
        color: $primary;
        font-family: "Gilroy_SB";
        font-size: 20px;
        padding: 16px 56px;
        border: 2px solid $primary;
        outline: none;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.3s ease-in-out;
        &:hover {
          background: $primary;
          color: $white;
        }
        &:active {
          transform: scale(0.99);
        }
      }
    }
    .hero-img {
      flex: 1;
      img {
        width: 720px;
        height: auto;
      }
    }
  }
  .features {
    padding: 0 226px;
    margin-top: 140px;
    display: flex;
    column-gap: 36px;
    .card {
      padding: 38px;
      background: $white;
      border-radius: 20px;
      box-shadow: 0px 5px 10px rgba(200, 200, 200, 0.25),
        0px 20px 40px rgba(199, 199, 199, 0.25);
      display: flex;
      flex-direction: column;
      transform-style: preserve-3d;
      &:hover img,
      &:hover .title,
      &:hover .parag {
        transform: translateZ(10px);
      }
      img {
        width: 80px;
        height: auto;
        padding: 18px;
        border-radius: 18px;
        transition: 0.3s ease-in-out;
      }
      .title {
        font-family: "Gilroy_SB";
        color: $text;
        font-size: 26px;
        margin-top: 20px;
        transition: 0.5s ease-in-out;
      }
      .parag {
        font-family: "Gilroy_M";
        color: $subText;
        font-size: 20px;
        line-height: 30px;
        margin-top: 12px;
        transition: 0.7s ease-in-out;
      }
    }
  }
}
