@font-face {
  font-family: "Gilroy_R";
  src: url(../../fonts/Gilroy-Regular.ttf);
}

@font-face {
  font-family: "Gilroy_M";
  src: url(../../fonts/Gilroy-Medium.ttf);
}

@font-face {
  font-family: "Gilroy_B";
  src: url(../../fonts/Gilroy-Bold.ttf);
}

@font-face {
  font-family: "Gilroy_SB";
  src: url(../../fonts/Gilroy-SemiBold.ttf);
}

@font-face {
  font-family: "Gilroy_Italics_M";
  src: url(../../fonts/Gilroy-MediumItalic.ttf);
}

a {
  text-decoration: none;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-calendar-picker-indicator {
  cursor: pointer;
  color: #b1b1b1;
  padding-right: 0.8333333333333334vw;
}

::-webkit-file-upload-button {
  background: #eeecfc;
  border-radius: 0.3125vw;
  border: none;
  margin-right: 1.0416666666666667vw;
  outline: none;
}

.disabled {
  opacity: 40%;
  pointer-events: none;
}

.cursor-disable {
  cursor: not-allowed;
}

.error-visible {
  visibility: visible;
}

.error-hidden {
  visibility: hidden;
}

::-webkit-input-placeholder {
  color: #b1b1b1;
}

:-ms-input-placeholder {
  color: #b1b1b1;
}

::-ms-input-placeholder {
  color: #b1b1b1;
}

::placeholder {
  color: #b1b1b1;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main {
  background-image: url("../../images/bg.png");
  background-color: linear-gradient(110.33deg, #ffffff 0%, #ededed 107.08%);
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.main .sections {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main .sections .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 26px;
}

.main .sections .content .logo {
  width: 310px;
}

.main .sections .content .description {
  font-family: "Gilroy_M";
  font-size: 24px;
  width: 852px;
  font-weight: 500;
  line-height: 36px;
  color: #1e1e1e;
}

.main .sections .content .connection {
  width: 872px;
}

.main .sections .form .box {
  padding: 3.2291666666666665vw 2.5vw 3.6458333333333335vw 2.5vw;
  background: #fff;
  -webkit-box-shadow: 5px 0.52083vw 20px rgba(0, 0, 0, 0.04), 20px 40px 80px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 0.52083vw 20px rgba(0, 0, 0, 0.04), 20px 40px 80px rgba(0, 0, 0, 0.1);
  border-radius: 0.8333333333333334vw;
}

.main .sections .form .box .login-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 12px;
}

.main .sections .form .box .login-text .title {
  font-family: "Gilroy_B";
  font-size: 36px;
}

.main .sections .form .box .login-text .sub-title {
  font-family: "Gilroy_M";
  font-size: 16px;
  color: #8b8b8b;
  width: 460px;
}

.main .sections .form .box .inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 32px;
  margin-top: 40px;
}

.main .sections .form .box .inputs .input {
  width: 460px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.4166666666666667vw;
}

.main .sections .form .box .inputs .input .label {
  font-size: 0.8333333333333334vw;
  font-family: "Gilroy_M";
}

.main .sections .form .box .inputs .input input[type="text"],
.main .sections .form .box .inputs .input input[type="date"],
.main .sections .form .box .inputs .input input[type="file"],
.main .sections .form .box .inputs .input input[type="number"],
.main .sections .form .box .inputs .input input[type="password"],
.main .sections .form .box .inputs .input input[type="email"],
.main .sections .form .box .inputs .input select {
  width: 100%;
  height: 2.7604166666666665vw;
  font-size: 0.9375vw;
  font-family: "Gilroy_M";
  padding: 0.8333333333333334vw 0px 0.8333333333333334vw 0.8333333333333334vw;
  border-radius: 0.5208333333333334vw;
  border: 1px solid #c1c1c1;
  color: #1e1e1e;
  outline: none;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.main .sections .form .box .inputs .input input[type="text"]:focus,
.main .sections .form .box .inputs .input input[type="date"]:focus,
.main .sections .form .box .inputs .input input[type="file"]:focus,
.main .sections .form .box .inputs .input input[type="number"]:focus,
.main .sections .form .box .inputs .input input[type="password"]:focus,
.main .sections .form .box .inputs .input input[type="email"]:focus,
.main .sections .form .box .inputs .input select:focus {
  border: 1px solid #1e1e1e;
}

.main .sections .form .box .inputs .input .select {
  padding: 0.8333333333333334vw;
  height: 3.0208333333333335vw;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUCAMAAACtdX32AAAAdVBMVEUAAAD///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAhMdQaAAAAJ3RSTlMAAAECAwQGBwsOFBwkJTg5RUZ4eYCHkJefpaytrsXGy8zW3+Do8vNn0bsyAAAAYElEQVR42tXROwJDQAAA0Ymw1p9kiT+L5P5HVEi3qJn2lcPjtIuzUIJ/rhIGy762N3XaThqMN1ZPALsZPEzG1x8LrFL77DHBnEMxBewz0fJ6LyFHTPL7xhwzWYrJ9z22AqmQBV757MHfAAAAAElFTkSuQmCC);
  background-position: 100%;
  background-repeat: no-repeat;
}

.main .sections .form .box .inputs .input .error {
  position: absolute;
  margin-top: 4.375vw;
  color: #ec0000;
  font-family: "Gilroy_M";
  font-size: 0.7291666666666666vw;
  width: 23.958333333333332vw;
}

.main .sections .form .box .sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 18px;
}

.main .sections .form .box .sub .checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.4166666666666667vw;
          column-gap: 0.4166666666666667vw;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.main .sections .form .box .sub .checkbox input[type="checkbox"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 0.9375vw;
  width: 0.9375vw;
  border-radius: 0.20833333333333334vw;
  border: 1px solid #888888;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
}

.main .sections .form .box .sub .checkbox input[type="checkbox"]:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: "\f00c";
  font-size: 0.625vw;
  color: #fff;
  display: none;
}

.main .sections .form .box .sub .checkbox input[type="checkbox"]:checked {
  background: #5744e3;
  border: 1px solid #5744e3;
}

.main .sections .form .box .sub .checkbox input[type="checkbox"]:checked:after {
  display: block;
}

.main .sections .form .box .sub .checkbox label {
  font-family: "Gilroy_SB";
  font-size: 16px;
  color: #1e1e1e;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.main .sections .form .box .sub .forgot {
  font-family: "Gilroy_SB";
  font-size: 16px;
  color: #5744e3;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-decoration: none;
}

.main .sections .form .box .sub .forgot:hover {
  text-decoration: underline;
}

.main .sections .form .box .buttons {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 28px;
}

.main .sections .form .box .buttons .primary-button {
  background: #5744e3;
  color: #fff;
  font-family: "Gilroy_B";
  font-size: 0.9375vw;
  text-align: center;
  padding: 0.8333333333333334vw 0;
  border: none;
  outline: none;
  width: 100%;
  border-radius: 0.5208333333333334vw;
  cursor: pointer;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.main .sections .form .box .buttons .primary-button:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
  background: #6756eb;
}

.main .sections .form .box .buttons .or {
  font-family: "Gilroy_M";
  font-weight: 500;
  font-size: 16px;
  color: #1e1e1e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.main .sections .form .box .buttons .or .line {
  height: 1px;
  width: 210px;
  background: #c4c4c4;
}

.main .sections .form .box .buttons .secondary-button {
  background: #fff;
  color: #5744e3;
  font-family: "Gilroy_B";
  font-size: 0.9375vw;
  text-align: center;
  padding: 0.8333333333333334vw 0;
  border: 2px solid #5744e3;
  outline: none;
  width: 100%;
  border-radius: 0.5208333333333334vw;
  cursor: pointer;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.main .sections .form .box .buttons .secondary-button:hover {
  background: #f4f3ff;
}

.main .sections .form .box .buttons .secondary-button:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

.box2 {
  opacity: 0;
  display: none;
  padding: 3.2291666666666665vw 2.5vw 3.6458333333333335vw 2.5vw;
  background: #fff;
  -webkit-box-shadow: 5px 0.52083vw 20px rgba(0, 0, 0, 0.04), 20px 40px 80px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 0.52083vw 20px rgba(0, 0, 0, 0.04), 20px 40px 80px rgba(0, 0, 0, 0.1);
  border-radius: 0.8333333333333334vw;
}

.box2 .register-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 12px;
}

.box2 .register-text .title {
  font-family: "Gilroy_B";
  font-size: 36px;
}

.box2 .register-text .sub-title {
  font-family: "Gilroy_M";
  font-size: 16px;
  color: #8b8b8b;
}

.box2 .register-text .sub-title a {
  margin-left: 6px;
  font-family: "Gilroy_SB";
  font-size: 16px;
  color: #5744e3;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-decoration: none;
}

.box2 .inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 32px;
  margin-top: 40px;
}

.box2 .inputs .input {
  width: 460px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.4166666666666667vw;
}

.box2 .inputs .input .label {
  font-size: 0.8333333333333334vw;
  font-family: "Gilroy_M";
}

.box2 .inputs .input input[type="text"],
.box2 .inputs .input input[type="date"],
.box2 .inputs .input input[type="file"],
.box2 .inputs .input input[type="number"],
.box2 .inputs .input input[type="password"],
.box2 .inputs .input input[type="email"],
.box2 .inputs .input select {
  width: 100%;
  height: 2.7604166666666665vw;
  font-size: 0.9375vw;
  font-family: "Gilroy_M";
  padding: 0.8333333333333334vw 0px 0.8333333333333334vw 0.8333333333333334vw;
  border-radius: 0.5208333333333334vw;
  border: 1px solid #c1c1c1;
  color: #1e1e1e;
  outline: none;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.box2 .inputs .input input[type="text"]:focus,
.box2 .inputs .input input[type="date"]:focus,
.box2 .inputs .input input[type="file"]:focus,
.box2 .inputs .input input[type="number"]:focus,
.box2 .inputs .input input[type="password"]:focus,
.box2 .inputs .input input[type="email"]:focus,
.box2 .inputs .input select:focus {
  border: 1px solid #1e1e1e;
}

.box2 .inputs .input .select {
  padding: 0.8333333333333334vw;
  height: 3.0208333333333335vw;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUCAMAAACtdX32AAAAdVBMVEUAAAD///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAhMdQaAAAAJ3RSTlMAAAECAwQGBwsOFBwkJTg5RUZ4eYCHkJefpaytrsXGy8zW3+Do8vNn0bsyAAAAYElEQVR42tXROwJDQAAA0Ymw1p9kiT+L5P5HVEi3qJn2lcPjtIuzUIJ/rhIGy762N3XaThqMN1ZPALsZPEzG1x8LrFL77DHBnEMxBewz0fJ6LyFHTPL7xhwzWYrJ9z22AqmQBV757MHfAAAAAElFTkSuQmCC);
  background-position: 100%;
  background-repeat: no-repeat;
}

.box2 .inputs .input .error {
  position: absolute;
  margin-top: 4.375vw;
  color: #ec0000;
  font-family: "Gilroy_M";
  font-size: 0.7291666666666666vw;
  width: 23.958333333333332vw;
}

.box2 .inputs .half-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.box2 .inputs .half-input .input {
  width: 216px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.4166666666666667vw;
}

.box2 .inputs .half-input .input .label {
  font-size: 0.8333333333333334vw;
  font-family: "Gilroy_M";
}

.box2 .inputs .half-input .input input[type="text"],
.box2 .inputs .half-input .input input[type="date"],
.box2 .inputs .half-input .input input[type="file"],
.box2 .inputs .half-input .input input[type="number"],
.box2 .inputs .half-input .input input[type="password"],
.box2 .inputs .half-input .input input[type="email"],
.box2 .inputs .half-input .input select {
  width: 100%;
  height: 2.7604166666666665vw;
  font-size: 0.9375vw;
  font-family: "Gilroy_M";
  padding: 0.8333333333333334vw 0px 0.8333333333333334vw 0.8333333333333334vw;
  border-radius: 0.5208333333333334vw;
  border: 1px solid #c1c1c1;
  color: #1e1e1e;
  outline: none;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.box2 .inputs .half-input .input input[type="text"]:focus,
.box2 .inputs .half-input .input input[type="date"]:focus,
.box2 .inputs .half-input .input input[type="file"]:focus,
.box2 .inputs .half-input .input input[type="number"]:focus,
.box2 .inputs .half-input .input input[type="password"]:focus,
.box2 .inputs .half-input .input input[type="email"]:focus,
.box2 .inputs .half-input .input select:focus {
  border: 1px solid #1e1e1e;
}

.box2 .inputs .half-input .input .select {
  padding: 0.8333333333333334vw;
  height: 3.0208333333333335vw;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUCAMAAACtdX32AAAAdVBMVEUAAAD///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAhMdQaAAAAJ3RSTlMAAAECAwQGBwsOFBwkJTg5RUZ4eYCHkJefpaytrsXGy8zW3+Do8vNn0bsyAAAAYElEQVR42tXROwJDQAAA0Ymw1p9kiT+L5P5HVEi3qJn2lcPjtIuzUIJ/rhIGy762N3XaThqMN1ZPALsZPEzG1x8LrFL77DHBnEMxBewz0fJ6LyFHTPL7xhwzWYrJ9z22AqmQBV757MHfAAAAAElFTkSuQmCC);
  background-position: 100%;
  background-repeat: no-repeat;
}

.box2 .inputs .half-input .input .error {
  position: absolute;
  margin-top: 4.375vw;
  color: #ec0000;
  font-family: "Gilroy_M";
  font-size: 0.7291666666666666vw;
  width: 23.958333333333332vw;
}

.box2 .button .primary-button {
  background: #5744e3;
  color: #fff;
  font-family: "Gilroy_B";
  font-size: 0.9375vw;
  text-align: center;
  padding: 0.8333333333333334vw 0;
  border: none;
  outline: none;
  width: 100%;
  border-radius: 0.5208333333333334vw;
  cursor: pointer;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.box2 .button .primary-button:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
  background: #6756eb;
}

.box2 .message {
  font-family: "Gilroy_Italics_M";
  font-size: 14px;
  margin-top: -8px;
}

.box-visible {
  opacity: 1;
  -webkit-transform: 1;
          transform: 1;
  pointer-events: visible;
  display: block;
}

.box-hide {
  opacity: 0;
  -webkit-transform: 0.5;
          transform: 0.5;
  pointer-events: none;
  display: none;
}

.box2-visible {
  opacity: 1;
  -webkit-transform: 1;
          transform: 1;
  pointer-events: visible;
  display: block;
}

.box2-hide {
  opacity: 0;
  -webkit-transform: 0.5;
          transform: 0.5;
  pointer-events: none;
  display: none;
}

.email-h {
  color: #1e1e1e;
  font-family: "Gilroy_SB";
}

.alertt {
  background: #fff;
  padding: 0.9375vw 0.9375vw 0.9375vw 1.25vw;
  -webkit-box-shadow: 0px 7px 0.83333vw rgba(0, 0, 0, 0.16);
          box-shadow: 0px 7px 0.83333vw rgba(0, 0, 0, 0.16);
  border-radius: 6px;
  border-left: 0.52083vw solid #ec0000;
  position: fixed;
  bottom: 5%;
  right: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.6666666666666667vw;
          column-gap: 1.6666666666666667vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 4;
}

.alertt .econtent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.5208333333333334vw;
          column-gap: 0.5208333333333334vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.alertt .econtent img {
  width: 1.1458333333333333vw;
  height: auto;
}

.alertt .econtent .text {
  font-family: "Gilroy_M";
  font-size: 0.9375vw;
}

.alertt .alert-close {
  width: 0.8333333333333334vw;
  height: auto;
  cursor: pointer;
}

.alert-hidden {
  visibility: hidden;
}

.alert-visible {
  visibility: visible;
}

.loading {
  display: block;
  pointer-events: none;
  overflow: hidden;
}

.loading .loading-overlay {
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.096);
  -webkit-backdrop-filter: blur(0.52083vw);
          backdrop-filter: blur(0.52083vw);
}

.loading .gif {
  width: 100%;
  height: auto;
}

.loading .gif img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 15.625vw;
}

.loading-hide {
  display: none;
}
/*# sourceMappingURL=style.css.map */