@import "../components.scss";

@mixin card($shadow) {
  text-decoration: none;
  cursor: pointer;
  display: flex;
  column-gap: 0.625vw;
  align-items: center;
  padding: 0.625vw;
  width: 13.541666666666666vw;
  background: $white;
  box-shadow: $shadow;
  border-radius: 0.5208333333333334vw;
  transition: 0.2s ease-in-out;
}

body {
  background: $bg;
}

.main {
  display: flex;
  .sidebar {
    @include sidebar();
  }
  .container {
    margin: 2.3958333333333335vw 3.28125vw 0
      calc(24.791666666666668vw - 3.28125vw);
    width: calc(100% - 24.791666666666668vw);
    .header {
      display: flex;
      justify-content: space-between;
      .title {
        font-family: Gilroy_SB;
        font-size: 1.9791666666666667vw;
      }
      .search {
        svg {
          position: relative;
          left: 1.9791666666666667vw;
          height: 1.0416666666666667vw;
          width: 1.0416666666666667vw;
          top: 0.15625vw;
        }
        input {
          width: 21.25vw;
          font-size: 0.9375vw;
          font-family: "Gilroy_M";
          padding: 0.8333333333333334vw 0px 0.8333333333333334vw 2.1875vw;
          border-radius: 0.5208333333333334vw;
          border: 1px solid $border;
          color: $text;
          outline: none;
          transition: 0.2s ease-in-out;
          &:focus {
            border: 1px solid $text;
          }
          &:focus svg .str {
            stroke: $text;
          }
        }
      }
    }
    .hyper-link {
      margin-top: 1.875vw;
      display: flex;
      justify-content: flex-end;
      font-family: "Gilroy_SB";
      font-size: 1.0416666666666667vw;
      column-gap: 2.5vw;
      a {
        text-decoration: underline;
        color: $primary;
      }
      .leave-req {
        display: flex;
        .noti-badge {
          text-decoration: none;
          padding: 0.2604166666666667vw 0.4166666666666667vw
            0.20833333333333334vw 0.4166666666666667vw;
          color: $white;
          background: $primary;
          font-family: "Gilroy_B";
          font-size: 0.625vw;
          border-radius: 0.3125vw;
          margin-left: 0.4166666666666667vw;
        }
      }
    }
    // content
    .headings {
      margin: 2.5vw 0.8333333333333334vw 0 0.8333333333333334vw;
      font-family: "Gilroy_SB";
      font-size: 1.0416666666666667vw;
      color: $text;
      display: flex;
    }
    .datas {
      margin-top: 1.25vw;
      display: flex;
      flex-direction: column;
      row-gap: 1.25vw;
      .data {
        padding: 1.0416666666666667vw;
        background: $white;
        border-radius: 0.5208333333333334vw;
        font-family: "Gilroy_M";
        font-size: 0.9375vw;
        color: $darkSubText;
        td {
          padding-right: 1.4583333333333333vw;
          vertical-align: top;
          text-align: left;
        }
        .approve {
          font-family: "Gilroy_SB";
          color: $green;
        }
      }
    }
  }
}

//Alert
@include error-alert();

@include loading();
