@import "../components.scss";

@mixin card($shadow) {
    text-decoration: none;
    cursor: pointer;
    display: flex;
    column-gap: 12px;
    align-items: center;
    padding: 12px;
    width: 260px;
    background: $white;
    box-shadow: $shadow;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
}

body {
    background: $bg;
}

.main {
    display: flex;
    .sidebar {
        @include sidebar();
    }
    .container {
        margin: 46px 63px 0 calc(476px - 63px);
        width: calc(100% - 476px);
        .header {
            display: flex;
            justify-content: space-between;
            .title {
                font-family: Gilroy_SB;
                font-size: 38px;
            }
        }
        // content
        .street-light{
            margin-top: 42px;
            padding: 14px 32px 14px 10px;
            width:332px;
            background: $white;
            box-shadow: 0px 10px 20px rgba(237, 237, 237, 0.25);
            border-radius: 10px;
            display: flex;
            column-gap: 18px;
            align-items: center;
            .img{
                height:95px;
                width:95px;
            }
            .data{
                display: flex;
                flex-direction: column;
                row-gap: 12px;
                .detail{
                    display: flex;
                    column-gap: 8px;
                    font-family: Gilroy_M;
                    .post{
                        font-size: 18px;
                        color: $subText;
                    }
                    .numb{
                        font-size: 18px;
                        color: $darkSubText;
                    }
                }
                .req-btn{
                    padding:10px 24px;
                    color:$primary;
                    border:2px solid $primary;
                    border-radius: 10px;
                    font-family: Gilroy_B;
                    font-size: 18px;
                    transition: 0.1s ease-in-out;
                    &:hover{
                        background: #f0f0f5;
                    }
                    &:active {
                        transform: scale(0.99);
                    }
                }
                .req-btn2{
                    font-family: Gilroy_B;
                    font-size: 18px;
                    color:$subText;
                }
            }
        }
    }
}

//Alert
@include error-alert();

@include loading();