//==============Fonts=================
@font-face {
  font-family: "Gilroy_R";
  src: url(../../fonts/Gilroy-Regular.ttf);
}

@font-face {
  font-family: "Gilroy_M";
  src: url(../../fonts/Gilroy-Medium.ttf);
}

@font-face {
  font-family: "Gilroy_B";
  src: url(../../fonts/Gilroy-Bold.ttf);
}

@font-face {
  font-family: "Gilroy_SB";
  src: url(../../fonts/Gilroy-SemiBold.ttf);
}

@font-face {
  font-family: "Gilroy_Italics_M";
  src: url(../../fonts/Gilroy-MediumItalic.ttf);
}

//============Colors==================
$primary: #5744e3;
$text: #1e1e1e;
$darkSubText: #545454;
$subText: #8b8b8b;
$placeholder: #b1b1b1;
$border: #c1c1c1;
$tabText: #868686;
$white: #fff;
$error: #ec0000;
$green: #039b00;
$bg: #f9f9f9;
$primaryFade: #eeecfc;

a {
  text-decoration: none;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

//Hide Scrollbar
::-webkit-scrollbar {
  width: 0px;
}

//=============Mixins=================

//=============Box=================
@mixin box() {
  padding: 3.2291666666666665vw 2.5vw 3.6458333333333335vw 2.5vw;
  background: $white;
  box-shadow: 5px 0.5208333333333334vw 20px rgba(0, 0, 0, 0.04),
    20px 40px 80px rgba(0, 0, 0, 0.1);
  border-radius: 0.8333333333333334vw;
}
@mixin box_model($width, $height) {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: $width;
  height: $height;
  overflow: none;
  overflow-y: scroll;
  padding: 3.2291666666666665vw 2.5vw 3.6458333333333335vw 2.5vw;
  background: $white;
  box-shadow: 5px 0.5208333333333334vw 20px rgba(0, 0, 0, 0.04),
    20px 40px 80px rgba(0, 0, 0, 0.1);
  border-radius: 0.8333333333333334vw;
  transition: 1s ease-in-out;
  .title {
    font-family: "Gilroy_B";
    font-size: 1.875vw;
  }
  .modal-close-btn {
    position: absolute;
    top: 1.25vw;
    right: 1.25vw;
    cursor: pointer;
    img {
      height: 1.25vw;
    }
  }
  &::-webkit-scrollbar {
    width: 0px;
  }
}

//==========input Fields=============
@mixin input_fields($width) {
  .input {
    width: $width;
    display: flex;
    flex-direction: column;
    row-gap: 0.4166666666666667vw;
    .label {
      font-size: 0.8333333333333334vw;
      font-family: "Gilroy_M";
    }
    input[type="text"],
    input[type="date"],
    input[type="file"],
    input[type="number"],
    input[type="password"],
    input[type="email"],
    select {
      width: 100%;
      height: 2.7604166666666665vw;
      font-size: 0.9375vw;
      font-family: "Gilroy_M";
      padding: 0.8333333333333334vw 0px 0.8333333333333334vw
        0.8333333333333334vw;
      border-radius: 0.5208333333333334vw;
      border: 1px solid $border;
      color: $text;
      outline: none;
      transition: 0.2s ease-in-out;
      &:focus {
        border: 1px solid $text;
      }
    }
    .select {
      padding: 0.8333333333333334vw;
      height: 3.0208333333333335vw;
      appearance: none;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUCAMAAACtdX32AAAAdVBMVEUAAAD///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAhMdQaAAAAJ3RSTlMAAAECAwQGBwsOFBwkJTg5RUZ4eYCHkJefpaytrsXGy8zW3+Do8vNn0bsyAAAAYElEQVR42tXROwJDQAAA0Ymw1p9kiT+L5P5HVEi3qJn2lcPjtIuzUIJ/rhIGy762N3XaThqMN1ZPALsZPEzG1x8LrFL77DHBnEMxBewz0fJ6LyFHTPL7xhwzWYrJ9z22AqmQBV757MHfAAAAAElFTkSuQmCC);
      background-position: 100%;
      background-repeat: no-repeat;
    }
    .error {
      position: absolute;
      margin-top: 4.375vw;
      color: $error;
      font-family: "Gilroy_M";
      font-size: 0.7291666666666666vw;
      width: 23.958333333333332vw;
    }
  }
}

::-webkit-calendar-picker-indicator {
  cursor: pointer;
  color: $placeholder;
  padding-right: 0.8333333333333334vw;
}

::-webkit-file-upload-button {
  background: $primaryFade;
  border-radius: 0.3125vw;
  border: none;
  margin-right: 1.0416666666666667vw;
  outline: none;
}

//===========Primary Button===========
@mixin primary_button($width) {
  background: $primary;
  color: #fff;
  font-family: "Gilroy_B";
  font-size: 0.9375vw;
  text-align: center;
  padding: 0.8333333333333334vw 0;
  border: none;
  outline: none;
  width: $width;
  border-radius: 0.5208333333333334vw;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  &:active {
    transform: scale(0.99);
    background: #6756eb;
  }
}

//==========Secondary Button=========
@mixin secondary_button($width) {
  background: #fff;
  color: $primary;
  font-family: "Gilroy_B";
  font-size: 0.9375vw;
  text-align: center;
  padding: 0.8333333333333334vw 0;
  border: 2px solid $primary;
  outline: none;
  width: $width;
  border-radius: 0.5208333333333334vw;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  &:hover {
    background: #f4f3ff;
  }
  &:active {
    transform: scale(0.99);
  }
}

//==============Checkbox=============
@mixin checkbox($size, $family) {
  .checkbox {
    display: flex;
    column-gap: 0.4166666666666667vw;
    transition: 1s ease-in-out;
    input[type="checkbox"] {
      appearance: none;
      height: 0.9375vw;
      width: 0.9375vw;
      border-radius: 0.20833333333333334vw;
      border: 1px solid #888888;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      outline: none;
      &:after {
        font-family: "Font Awesome 5 Free";
        font-weight: 600;
        content: "\f00c";
        font-size: 0.625vw;
        color: #fff;
        display: none;
      }
      &:checked {
        background: $primary;
        border: 1px solid $primary;
      }
      &:checked:after {
        display: block;
      }
    }

    label {
      font-family: $family;
      font-size: $size;
      color: $text;
      cursor: pointer;
      user-select: none;
    }
  }
}

//Disabled Button Style
.disabled {
  opacity: 40%;
  pointer-events: none;
}
.cursor-disable {
  cursor: not-allowed;
}

//Error Visibility
.error-visible {
  visibility: visible;
}
.error-hidden {
  visibility: hidden;
}

//============Placeholder============
::placeholder {
  color: $placeholder;
}

//============Toast============
@mixin error-alert() {
  .alertt {
    background: $white;
    padding: 0.9375vw 0.9375vw 0.9375vw 1.25vw;
    box-shadow: 0px 7px 0.8333333333333334vw rgba(0, 0, 0, 0.16);
    border-radius: 6px;
    border-left: 0.5208333333333334vw solid $error;
    position: fixed;
    bottom: 5%;
    right: 4%;
    display: flex;
    column-gap: 1.6666666666666667vw;
    align-items: center;
    z-index: 4;
    .econtent {
      display: flex;
      column-gap: 0.5208333333333334vw;
      align-items: center;
      img {
        width: 1.1458333333333333vw;
        height: auto;
      }
      .text {
        font-family: "Gilroy_M";
        font-size: 0.9375vw;
      }
    }
    .alert-close {
      width: 0.8333333333333334vw;
      height: auto;
      cursor: pointer;
    }
  }

  .alert-hidden {
    visibility: hidden;
  }

  .alert-visible {
    visibility: visible;
  }
}

//===========Primary Style===========
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//============Sidebar===============
@mixin sidebar() {
  width: 18.229166666666668vw;
  height: 100vh;
  overflow-y: hidden;
  background: $white;
  box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.01);
  border-radius: 0px 1.5625vw 1.5625vw 0px;
  padding: 0px 1.875vw 2.1875vw 1.875vw;
  .brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.6666666666666667vw 0px;
    img {
      width: 7.864583333333333vw;
      height: auto;
    }
    .user {
      font-family: "Gilroy_SB";
      font-size: 0.8333333333333334vw;
      color: $primary;
      padding: 0.15625vw 0.7291666666666666vw 0.15625vw 0.7291666666666666vw;
      background: $primaryFade;
      border-radius: 0.7291666666666666vw;
    }
  }
  .division {
    height: 0.10416666666666667vw;
    width: 100%;
    border-radius: 0.10416666666666667vw;
    background: $primaryFade;
  }
  .links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 82%;
    margin: 2.5vw 0 2.1875vw 0;
    .menus {
      display: flex;
      flex-direction: column;
      row-gap: 1.0416666666666667vw;
      .menu {
        text-decoration: none;
        cursor: pointer;
        padding: 0.625vw 0 0.625vw 0.625vw;
        width: 100%;
        display: flex;
        column-gap: 0.5208333333333334vw;
        border-radius: 0.5208333333333334vw;
        &.active {
          background: $primary;
        }
        &:hover {
          background: $primary;
          transition: 0.5s ease-in-out;
        }
        &:hover .text {
          color: $white;
          transition: 0.2s ease-in-out;
        }
        &:hover svg .str {
          stroke: $white;
          transition: 0.2s ease-in-out;
        }
        svg {
          height: 1.25vw;
          width: 1.25vw;
          .active {
            stroke: $white;
          }
        }
        .text {
          font-family: "Gilroy_SB";
          font-size: 1.0416666666666667vw;
          color: $text;
          &.active {
            color: $white;
          }
        }
      }
    }
  }
  .logout {
    a {
      text-decoration: none;
      cursor: pointer;
      padding: 0.7291666666666666vw 0;
      width: 100%;
      display: flex;
      column-gap: 0.5208333333333334vw;
      border-radius: 0.5208333333333334vw;
      background: $primaryFade;
      align-items: center;
      justify-content: center;
      &:hover {
        background: $primary;
        transition: 0.5s ease-in-out;
      }
      &:hover .text {
        color: $white;
        transition: 0.2s ease-in-out;
      }
      &:hover svg .str {
        stroke: $white;
        transition: 0.2s ease-in-out;
      }
      svg {
        height: 1.25vw;
        width: 1.25vw;
      }
      .text {
        font-family: "Gilroy_SB";
        font-size: 1.0416666666666667vw;
        color: $text;
      }
    }
  }
}

//============End of Sidebar===============

//============Loading===============
@mixin loading() {
  .loading {
    display: block;
    pointer-events: none;
    overflow: hidden;
    .loading-overlay {
      position: fixed;
      pointer-events: none;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      background: rgba(0, 0, 0, 0.096);
      backdrop-filter: blur(0.5208333333333334vw);
    }
    .gif {
      width: 100%;
      height: auto;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 15.625vw;
      }
    }
  }
  .loading-hide {
    display: none;
  }
}
