@import "./components.scss";

body {
  background: $bg;
}

.main {
  display: flex;
  .sidebar {
    @include sidebar();
  }
  .container {
    margin: 46px 63px;
    width: calc(100% - 476px);
    .header {
      display: flex;
      justify-content: space-between;
      .title {
        font-family: Gilroy_SB;
        font-size: 38px;
      }
      .search {
        svg {
          position: relative;
          left: 38px;
          height: 20px;
          width: 20px;
          top: 3px;
        }
        input {
          width: 408px;
          font-size: 18px;
          font-family: "Gilroy_M";
          padding: 16px 0px 16px 42px;
          border-radius: 10px;
          border: 1px solid $border;
          color: $text;
          outline: none;
          transition: 0.2s ease-in-out;
          &:focus {
            border: 1px solid $text;
          }
          &:focus svg .str {
            stroke: $text;
          }
        }
      }
    }
    .contents {
      margin-top: 60px;
      display: flex;
      flex-direction: row;
      column-gap: 36px;
      flex-wrap: wrap;
      row-gap: 36px;
      .add-member {
        text-decoration: none;
        display: flex;
        column-gap: 12px;
        align-items: center;
        padding: 12px;
        width: 260px;
        background: $white;
        box-shadow: 0px 10px 20px rgba(237, 237, 237, 0.25);
        border-radius: 10px;
        transition: 0.2s ease-in-out;
        .icon {
          padding: 18px;
          background: $primaryFade;
          svg {
            height: 30px;
            width: 30px;
          }
          .str {
            stroke: $primary;
          }
        }
        .text {
          font-family: "Gilroy_SB";
          font-size: 18px;
          color: $subText;
        }
        &:hover {
          box-shadow: 0px 14px 28px rgba(191, 191, 191, 0.25);
        }
      }
      .member {
        text-decoration: none;
        display: flex;
        column-gap: 12px;
        align-items: center;
        padding: 12px;
        width: 260px;
        background: $white;
        box-shadow: 0px 10px 20px rgba(237, 237, 237, 0.25);
        border-radius: 10px;
        transition: 0.2s ease-in-out;
        .photo {
          width: 66px;
          height: 66px;
        }
        .about {
          display: flex;
          flex-direction: column;
          row-gap: 10px;
          align-items: flex-start;
          .name {
            font-family: "Gilroy_SB";
            font-size: 18px;
            color: $text;
          }
          .tag {
            font-family: "Gilroy_SB";
            font-size: 14px;
            color: $primary;
            padding: 3px 12px;
            background: $primaryFade;
            border-radius: 10px;
          }
        }
        &:hover {
          box-shadow: 0px 14px 28px rgba(191, 191, 191, 0.25);
        }
      }
    }
  }
}
