@import "./components.scss";

body {
    background: $bg;
  }

.main{
    display: flex;
  .sidebar {
    @include sidebar();
  }
  .container {
    margin: 46px 63px 0 calc(476px - 63px);
    width: calc(100% - 476px);
  }
}