@import "./components.scss";

body {
  background-color: linear-gradient(110.33deg, #ffffff 0%, #ededed 107.08%);
  overflow-x: hidden;
  // padding:0 226px;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
  z-index: -2;
}

.main {
  .header {
    height: 100px;
    width: 100vw;
    background: $white;
    padding: 0 226px;
    display: flex;
    align-items: center;
    box-shadow: 0px 10px 20px rgba(69, 69, 69, 0.02);
    .logo {
      flex: 1;
      img {
        width: 151px;
        height: auto;
      }
    }
    .links {
      flex: 1;
      display: flex;
      column-gap: 56px;
      justify-content: flex-end;
      align-items: center;
      .link {
        font-family: "Gilroy_SB";
        font-size: 20px;
        color: $text;
        transition: 0.2s ease-in-out;
        &:hover {
          color: $primary;
        }
      }
      .login-btn {
        padding: 12px 56px;
        border-radius: 10px;
        background: $primary;
        color: $white;
        &:hover {
          color: $white;
          box-shadow: 0px 6px 12px rgba(87, 68, 227, 0.3);
          transform: scale(1.03);
        }
        &:active {
          box-shadow: none;
          transform: scale(1);
        }
      }
    }
  }
  .hero {
    display: flex;
    align-items: center;
    padding: 0 226px;
    margin-top: 90px;
    .content {
      flex: 1;
      display: flex;
      flex-direction: column;
      row-gap: 24px;
      .heading {
        font-family: "Gilroy_B";
        font-size: 52px;
        line-height: 71px;
        color: $text;
        span {
          color: $primary;
        }
      }
      .description {
        font-family: "Gilroy_M";
        font-size: 20px;
        line-height: 30px;
      }
      .cta {
        display: flex;
        width: 230px;
        background: #fff;
        color: $primary;
        font-family: "Gilroy_SB";
        font-size: 20px;
        padding: 16px 56px;
        border: 2px solid $primary;
        outline: none;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.3s ease-in-out;
        &:hover {
          background: $primary;
          color: $white;
        }
        &:active {
          transform: scale(0.99);
        }
      }
    }
    .hero-img {
      flex: 1;
      img {
        width: 720px;
        height: auto;
      }
    }
  }
}

//Google Translater

//Material Icon cdn
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v118/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2)
    format("woff2");
}

#google_translate_element {
  position: fixed;
  bottom: 50px;
  right: 50px !important;
  z-index: 2;
}
.goog-te-gadget {
  font-family: "Gilroy_SB" !important;
  text-transform: uppercase;
}
.goog-te-gadget-simple {
  background-color: $primary !important;
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
  box-shadow: 0px 7px 20px rgba(57, 57, 57, 0.25);
  opacity: 0.9;
  padding: 8px !important;
  border-radius: 10px !important;
  font-size: 1rem !important;
  line-height: 2rem !important;
  display: inline-block;
  cursor: pointer;
  zoom: 1;
}
.goog-te-menu2 {
  max-width: 100%;
}
.goog-te-menu-value {
  color: #fff !important;
  &:before {
    font-family: "Material Icons";
    content: "\E927";
    margin-right: 16px;
    font-size: 2rem;
    vertical-align: -10px;
    // width:32px!important;
  }
}
.goog-te-menu-value span:nth-child(5) {
  display: none;
}
.goog-te-menu-value span:nth-child(3) {
  border: none !important;
  font-family: "Material Icons";
  &:after {
    font-family: "Material Icons";
    content: "\E5C5";
    font-size: 1.5rem;
    vertical-align: -6px;
  }
}

.goog-te-gadget-icon {
  background-image: url(https://placehold.it/32) !important;
  background-position: 0px 0px;
  height: 32px !important;
  width: 32px !important;
  margin-right: 8px !important;
  //     OR
  display: none;
}

// ============ HIDE TOP BAR ============
.goog-te-banner-frame.skiptranslate {
  display: none !important;
}
body {
  top: 0px !important;
}
