@import "./components.scss";

body {
  background: $bg;
}

.main {
  display: flex;
  .sidebar {
    @include sidebar();
  }
  .container {
    margin: 46px 63px;
    width: calc(100% - 476px);
    .header {
      display: flex;
      justify-content: space-between;
      .title {
        font-family: Gilroy_SB;
        font-size: 38px;
      }
      .search {
        svg {
          position: relative;
          left: 38px;
          height: 20px;
          width: 20px;
          top: 3px;
        }
        input {
          width: 408px;
          font-size: 18px;
          font-family: "Gilroy_M";
          padding: 16px 0px 16px 42px;
          border-radius: 10px;
          border: 1px solid $border;
          color: $text;
          outline: none;
          transition: 0.2s ease-in-out;
          &:focus {
            border: 1px solid $text;
          }
          &:focus svg .str {
            stroke: $text;
          }
        }
      }
    }
    .bread-crumbs {
      margin-top: 60px;
      display: flex;
      column-gap: 4px;
      align-items: center;
      .previous {
        font-family: "Gilroy_M";
        font-size: 16px;
        color: $subText;
      }
      svg {
        .str {
          stroke: $text;
        }
      }
      .now {
        font-family: "Gilroy_SB";
        font-size: 16px;
        color: $text;
      }
    }
    .member-data {
      display: flex;
      width: 100%;
      background: $white;
      box-shadow: 0px 10px 20px rgba(237, 237, 237, 0.25);
      border-radius: 10px;
      padding: 24px;
      margin-top: 38px;
      justify-content: space-between;
      .basic-details {
        display: flex;
        align-items: center;
        column-gap: 18px;
        img {
          height: 131px;
          width: 131px;
        }
        .details {
          display: flex;
          flex-direction: column;
          row-gap: 12px;
          .name {
            font-family: "Gilroy_SB";
            font-size: 24px;
            color: $text;
          }
          .info {
            font-family: "Gilroy_M";
            font-size: 18px;
            color: $subText;
          }
          .tag {
            display: flex;
            font-family: "Gilroy_SB";
            font-size: 14px;
            color: $primary;
            padding: 3px 12px;
            background: $primaryFade;
            border-radius: 10px;
          }
        }
      }
    }
    .other-content {
      display: flex;
      align-items: center;
      column-gap: 24px;
      .divider {
        height: 100%;
        width: 2px;
        border-radius: 4px;
        background: #ececec;
      }
      .contents {
        display: flex;
        flex-direction: column;
        row-gap: 26px;
        .content {
          font-family: "Gilroy_M";
          font-size: 18px;
          color: $subText;
          span {
            margin-left: 8px;
            font-family: "Gilroy_SB";
            color: $text;
          }
        }
      }
    }
    .buttons {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .update {
        @include secondary_button(100%);
        padding: 16px 82px;
      }
      .remove {
        @include secondary_button(100%);
        border: 2px solid $error;
        color: $error;
        padding: 16px 82px;
        &:hover {
          background: #fff9f9;
        }
      }
    }
  }
}
