@font-face {
  font-family: "Gilroy_R";
  src: url(../../fonts/Gilroy-Regular.ttf);
}

@font-face {
  font-family: "Gilroy_M";
  src: url(../../fonts/Gilroy-Medium.ttf);
}

@font-face {
  font-family: "Gilroy_B";
  src: url(../../fonts/Gilroy-Bold.ttf);
}

@font-face {
  font-family: "Gilroy_SB";
  src: url(../../fonts/Gilroy-SemiBold.ttf);
}

@font-face {
  font-family: "Gilroy_Italics_M";
  src: url(../../fonts/Gilroy-MediumItalic.ttf);
}

a {
  text-decoration: none;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-calendar-picker-indicator {
  cursor: pointer;
  color: #b1b1b1;
  padding-right: 16px;
}

::-webkit-file-upload-button {
  background: #eeecfc;
  border-radius: 6px;
  border: none;
  margin-right: 20px;
  outline: none;
}

.disabled {
  opacity: 40%;
  pointer-events: none;
}

.cursor-disable {
  cursor: not-allowed;
}

.error-visible {
  visibility: visible;
}

.error-hidden {
  visibility: hidden;
}

::-webkit-input-placeholder {
  color: #b1b1b1;
}

:-ms-input-placeholder {
  color: #b1b1b1;
}

::-ms-input-placeholder {
  color: #b1b1b1;
}

::placeholder {
  color: #b1b1b1;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #f9f9f9;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .sidebar {
  width: 350px;
  height: 100vh;
  overflow-y: hidden;
  background: #fff;
  -webkit-box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.01);
          box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.01);
  border-radius: 0px 30px 30px 0px;
  padding: 0px 36px 42px 36px;
}

.main .sidebar .brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 32px 0px;
}

.main .sidebar .brand img {
  width: 151px;
  height: auto;
}

.main .sidebar .brand .user {
  font-family: "Gilroy_SB";
  font-size: 16px;
  color: #5744e3;
  padding: 3px 14px 3px 14px;
  background: #eeecfc;
  border-radius: 14px;
}

.main .sidebar .division {
  height: 2px;
  width: 100%;
  border-radius: 2px;
  background: #eeecfc;
}

.main .sidebar .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 82%;
  margin: 48px 0 42px 0;
}

.main .sidebar .links .menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

.main .sidebar .links .menus .menu {
  text-decoration: none;
  cursor: pointer;
  padding: 12px 0 12px 12px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  border-radius: 10px;
}

.main .sidebar .links .menus .menu.active {
  background: #5744e3;
}

.main .sidebar .links .menus .menu:hover {
  background: #5744e3;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.main .sidebar .links .menus .menu:hover .text {
  color: #fff;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.main .sidebar .links .menus .menu:hover svg .str {
  stroke: #fff;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.main .sidebar .links .menus .menu svg {
  height: 24px;
  width: 24px;
}

.main .sidebar .links .menus .menu svg .active {
  stroke: #fff;
}

.main .sidebar .links .menus .menu .text {
  font-family: "Gilroy_SB";
  font-size: 20px;
  color: #1e1e1e;
}

.main .sidebar .links .menus .menu .text.active {
  color: #fff;
}

.main .sidebar .logout a {
  text-decoration: none;
  cursor: pointer;
  padding: 14px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  border-radius: 10px;
  background: #eeecfc;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .sidebar .logout a:hover {
  background: #5744e3;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.main .sidebar .logout a:hover .text {
  color: #fff;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.main .sidebar .logout a:hover svg .str {
  stroke: #fff;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.main .sidebar .logout a svg {
  height: 24px;
  width: 24px;
}

.main .sidebar .logout a .text {
  font-family: "Gilroy_SB";
  font-size: 20px;
  color: #1e1e1e;
}

.main .container {
  margin: 46px 63px 0 calc(476px - 63px);
  width: calc(100% - 476px);
}

.main .container .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .container .header .title {
  margin-top: 0;
  font-family: Gilroy_SB;
  font-size: 38px;
}

.main .container .bread-crumbs {
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 4px;
          column-gap: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .container .bread-crumbs .previous {
  font-family: "Gilroy_M";
  font-size: 16px;
  color: #8b8b8b;
}

.main .container .bread-crumbs svg .str {
  stroke: #1e1e1e;
}

.main .container .bread-crumbs .now {
  font-family: "Gilroy_SB";
  font-size: 16px;
  color: #1e1e1e;
}

.main .container .details-box {
  margin-top: 48px;
  background: #fff;
  padding: 24px;
  -webkit-box-shadow: 0px 10px 20px rgba(237, 237, 237, 0.25);
          box-shadow: 0px 10px 20px rgba(237, 237, 237, 0.25);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .container .details-box .l-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 800px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .container .details-box .l-content .detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 18px;
          column-gap: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .container .details-box .l-content .detail .img {
  height: 132px;
  width: 132px;
  overflow: hidden;
}

.main .container .details-box .l-content .detail .img img {
  width: 100%;
  border-radius: 4px;
}

.main .container .details-box .l-content .detail .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 8px 0px;
}

.main .container .details-box .l-content .detail .info .con {
  font-family: "Gilroy_SB";
  font-size: 24px;
  color: #1e1e1e;
}

.main .container .details-box .l-content .detail .info .con-fade {
  font-family: "Gilroy_M";
  font-size: 18px;
  color: #8b8b8b;
}

.main .container .details-box .l-content .role {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 24px;
          column-gap: 24px;
}

.main .container .details-box .l-content .role .line {
  height: 100%;
  width: 2px;
  background: #ECECEC;
  border-radius: 2px;
}

.main .container .details-box .l-content .role .roles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.main .container .details-box .l-content .role .roles .resp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 8px;
          column-gap: 8px;
}

.main .container .details-box .l-content .role .roles .resp .title {
  font-family: "Gilroy_M";
  font-size: 18px;
  color: #8b8b8b;
}

.main .container .details-box .l-content .role .roles .resp .sub {
  font-family: "Gilroy_SB";
  font-size: 18px;
  color: text;
}

.main .container .details-box .r-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 24px;
}

.main .container .details-box .r-content .update-btn {
  background: #5744e3;
  color: #fff;
  font-family: "Gilroy_B";
  font-size: 18px;
  text-align: center;
  padding: 16px 0;
  border: none;
  outline: none;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  padding: 16px 82px;
}

.main .container .details-box .r-content .update-btn:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
  background: #6756eb;
}

.main .container .details-box .r-content .remove-btn {
  background: #fff;
  color: #5744e3;
  font-family: "Gilroy_B";
  font-size: 18px;
  text-align: center;
  padding: 16px 0;
  border: 2px solid #5744e3;
  outline: none;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  border: 2px solid #ec0000;
  color: #ec0000;
  padding: 16px 82px;
}

.main .container .details-box .r-content .remove-btn:hover {
  background: #f4f3ff;
}

.main .container .details-box .r-content .remove-btn:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

.main .container .details-box .r-content .remove-btn:hover {
  background: #fff9f9;
}
/*# sourceMappingURL=view_office_staff.css.map */