@import "../components.scss";

body {
  background: $bg;
}

@mixin card($shadow, $padding) {
  text-decoration: none;
  cursor: pointer;
  display: flex;
  column-gap: 12px;
  align-items: center;
  padding: $padding;
  width: 260px;
  background: $white;
  box-shadow: $shadow;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
}

.main {
  display: flex;
  .sidebar {
    @include sidebar();
  }
  .container {
    margin: 46px 63px 46px calc(476px - 63px);
    width: calc(100% - 476px);
    .header {
      display: flex;
      justify-content: space-between;
      .title {
        font-family: Gilroy_SB;
        font-size: 38px;
      }
      .search {
        svg {
          position: relative;
          left: 38px;
          height: 20px;
          width: 20px;
          top: 3px;
        }
        input {
          width: 408px;
          font-size: 18px;
          font-family: "Gilroy_M";
          padding: 16px 0px 16px 42px;
          border-radius: 10px;
          border: 1px solid $border;
          color: $text;
          outline: none;
          transition: 0.2s ease-in-out;
          &:focus {
            border: 1px solid $text;
          }
          &:focus svg .str {
            stroke: $text;
          }
        }
      }
    }
    // content
    .tab-menu {
      margin-top: 42px;
      display: flex;
      flex-direction: column;
      .tabs {
        display: flex;
        column-gap: 24px;
        .tab {
          font-family: "Gilroy_SB";
          font-size: 20px;
          color: $tabText;
          padding: 8px 24px;
          border-radius: 10px;
          cursor: pointer;
          &:hover {
            color: $primary;
          }
        }
        .tab-active {
          color: $primary;
          background: $primaryFade;
          width: auto;
          &::after {
            content: "";
            position: relative;
            display: block;
            width: calc(100% + 48px);
            height: 2px;
            background: $primary;
            top: 22px;
            left: -24px;
          }
        }
      }
      .underline {
        margin-top: 12px;
        height: 2px;
        width: 100%;
        background: #D9D5F5;
        border-radius: 4px;
      }
    }
    .tab-content {
      display: none;
      .street-lights{
        margin-top: 28px;
        .add-sl{
          padding:8px 24px;
          width:191px;
          cursor: pointer;
          border-radius: 10px;
          color: $white;
          background: $primary;
          font-family: "Gilroy_SB";
          font-size: 20px;
          transition: 0.1s ease-in-out;
          user-select: none;
          &:active {
            transform: scale(0.97);
          }
        }
        .headings {
          margin: 32px 16px 0 16px;
          font-family: "Gilroy_SB";
          font-size: 20px;
          color: $text;
          display: flex;
        }
        .datas {
          margin-top: 24px;
          display: flex;
          flex-direction: column;
          row-gap: 24px;
          .data {
            padding: 20px;
            background: $white;
            border-radius: 10px;
            font-family: "Gilroy_M";
            font-size: 18px;
            color: $darkSubText;
            td {
              vertical-align: top;
              text-align: left;
            }
            .active {
              font-family: "Gilroy_SB";
              color: $green;
            }
            .inactive {
              font-family: "Gilroy_SB";
              color: $error;
            }
            .notreq {
              font-family: "Gilroy_SB";
              color: $placeholder;
            }
            .repaired {
              font-family: "Gilroy_SB";
              color: $primary;
              text-decoration: underline;
              cursor: pointer;
            }
          }
          .no-result {
            font-family: "Gilroy_M";
            font-size: 20px;
            color: $subText;
            text-align: center;
            transform: translateX(-60px);
            margin-top: 100px;
          }
        }
      }
    }
    .tab-con-active {
      display: block;
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
}

.box {
  @include box_model(556px, auto);
  .inputs {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    margin-top: 40px;
    @include input_fields(460px);
    .checkboxes {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      row-gap: 24px;
      margin-top: 6px;
      @include checkbox(18px, "Gilroy_M");
    }
  }
  .button {
    margin-top: 8px;
    .primary-button {
      @include primary_button(100%);
    }
  }
}

.modal-hidden {
  display: none;
  pointer-events: none;
}



//Alert
@include error-alert();

