@font-face {
  font-family: "Gilroy_R";
  src: url(../../fonts/Gilroy-Regular.ttf);
}

@font-face {
  font-family: "Gilroy_M";
  src: url(../../fonts/Gilroy-Medium.ttf);
}

@font-face {
  font-family: "Gilroy_B";
  src: url(../../fonts/Gilroy-Bold.ttf);
}

@font-face {
  font-family: "Gilroy_SB";
  src: url(../../fonts/Gilroy-SemiBold.ttf);
}

@font-face {
  font-family: "Gilroy_Italics_M";
  src: url(../../fonts/Gilroy-MediumItalic.ttf);
}

a {
  text-decoration: none;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-calendar-picker-indicator {
  cursor: pointer;
  color: #b1b1b1;
  padding-right: 16px;
}

::-webkit-file-upload-button {
  background: #eeecfc;
  border-radius: 6px;
  border: none;
  margin-right: 20px;
  outline: none;
}

.disabled {
  opacity: 40%;
  pointer-events: none;
}

.cursor-disable {
  cursor: not-allowed;
}

.error-visible {
  visibility: visible;
}

.error-hidden {
  visibility: hidden;
}

::-webkit-input-placeholder {
  color: #b1b1b1;
}

:-ms-input-placeholder {
  color: #b1b1b1;
}

::-ms-input-placeholder {
  color: #b1b1b1;
}

::placeholder {
  color: #b1b1b1;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #f9f9f9;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .sidebar {
  width: 350px;
  height: 100vh;
  overflow-y: hidden;
  background: #fff;
  -webkit-box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.01);
          box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.01);
  border-radius: 0px 30px 30px 0px;
  padding: 0px 36px 42px 36px;
}

.main .sidebar .brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 32px 0px;
}

.main .sidebar .brand img {
  width: 151px;
  height: auto;
}

.main .sidebar .brand .user {
  font-family: "Gilroy_SB";
  font-size: 16px;
  color: #5744e3;
  padding: 3px 14px 3px 14px;
  background: #eeecfc;
  border-radius: 14px;
}

.main .sidebar .division {
  height: 2px;
  width: 100%;
  border-radius: 2px;
  background: #eeecfc;
}

.main .sidebar .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 82%;
  margin: 48px 0 42px 0;
}

.main .sidebar .links .menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

.main .sidebar .links .menus .menu {
  text-decoration: none;
  cursor: pointer;
  padding: 12px 0 12px 12px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  border-radius: 10px;
}

.main .sidebar .links .menus .menu.active {
  background: #5744e3;
}

.main .sidebar .links .menus .menu:hover {
  background: #5744e3;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.main .sidebar .links .menus .menu:hover .text {
  color: #fff;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.main .sidebar .links .menus .menu:hover svg .str {
  stroke: #fff;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.main .sidebar .links .menus .menu svg {
  height: 24px;
  width: 24px;
}

.main .sidebar .links .menus .menu svg .active {
  stroke: #fff;
}

.main .sidebar .links .menus .menu .text {
  font-family: "Gilroy_SB";
  font-size: 20px;
  color: #1e1e1e;
}

.main .sidebar .links .menus .menu .text.active {
  color: #fff;
}

.main .sidebar .logout a {
  text-decoration: none;
  cursor: pointer;
  padding: 14px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  border-radius: 10px;
  background: #eeecfc;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .sidebar .logout a:hover {
  background: #5744e3;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.main .sidebar .logout a:hover .text {
  color: #fff;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.main .sidebar .logout a:hover svg .str {
  stroke: #fff;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.main .sidebar .logout a svg {
  height: 24px;
  width: 24px;
}

.main .sidebar .logout a .text {
  font-family: "Gilroy_SB";
  font-size: 20px;
  color: #1e1e1e;
}

.main .container {
  margin: 46px 63px 46px calc(476px - 63px);
  width: calc(100% - 476px);
}

.main .container .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .container .header .title {
  font-family: Gilroy_SB;
  font-size: 38px;
}

.main .container .header .search svg {
  position: relative;
  left: 38px;
  height: 20px;
  width: 20px;
  top: 3px;
}

.main .container .header .search input {
  width: 408px;
  font-size: 18px;
  font-family: "Gilroy_M";
  padding: 16px 0px 16px 42px;
  border-radius: 10px;
  border: 1px solid #c1c1c1;
  color: #1e1e1e;
  outline: none;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.main .container .header .search input:focus {
  border: 1px solid #1e1e1e;
}

.main .container .header .search input:focus svg .str {
  stroke: #1e1e1e;
}

.main .container .bread-crumbs {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 4px;
          column-gap: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .container .bread-crumbs .previous {
  font-family: "Gilroy_M";
  font-size: 16px;
  color: #8b8b8b;
}

.main .container .bread-crumbs svg .str {
  stroke: #1e1e1e;
}

.main .container .bread-crumbs .now {
  font-family: "Gilroy_SB";
  font-size: 16px;
  color: #1e1e1e;
}

.main .container .tab-menu {
  margin-top: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .container .tab-menu .tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 24px;
          column-gap: 24px;
}

.main .container .tab-menu .tabs .tab {
  font-family: "Gilroy_SB";
  font-size: 20px;
  color: #868686;
  padding: 8px 24px;
  border-radius: 10px;
  cursor: pointer;
}

.main .container .tab-menu .tabs .tab:hover {
  color: #5744e3;
}

.main .container .tab-menu .tabs .tab-active {
  color: #5744e3;
  background: #eeecfc;
  width: auto;
}

.main .container .tab-menu .tabs .tab-active::after {
  content: "";
  position: relative;
  display: block;
  width: calc(100% + 48px);
  height: 2px;
  background: #5744e3;
  top: 22px;
  left: -24px;
}

.main .container .tab-menu .underline {
  margin-top: 12px;
  height: 2px;
  width: 100%;
  background: #D9D5F5;
  border-radius: 4px;
}

.main .container .tab-content {
  margin-top: 42px;
  display: none;
}

.main .container .tab-content .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 36px;
}

.main .container .tab-content .cards .card {
  background: #fff;
  -webkit-box-shadow: 0px 10px 20px rgba(237, 237, 237, 0.25);
          box-shadow: 0px 10px 20px rgba(237, 237, 237, 0.25);
  border-radius: 10px;
  padding: 24px;
}

.main .container .tab-content .cards .card .header {
  display: fles;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .container .tab-content .cards .card .header .title {
  font-family: "Gilroy_SB";
  font-size: 24px;
  color: #1e1e1e;
}

.main .container .tab-content .cards .card .header .date {
  font-family: "Gilroy_M";
  font-size: 18px;
  color: #1e1e1e;
}

.main .container .tab-content .cards .card .description {
  margin-top: 8px;
  width: 656px;
  height: 130px;
  line-height: 26px;
  font-family: "Gilroy_M";
  font-size: 18px;
  color: #8b8b8b;
}

.main .container .tab-content .cards .card .photos {
  margin-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 12px;
}

.main .container .tab-content .cards .card .photos .title {
  font-family: "Gilroy_SB";
  font-size: 18px;
  color: #1e1e1e;
}

.main .container .tab-content .cards .card .photos .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 12px;
          column-gap: 12px;
}

.main .container .tab-content .cards .card .photos .images .img {
  width: 124px;
  height: 72px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #c1c1c1;
}

.main .container .tab-content .cards .card .photos .images .img img {
  width: 100%;
}

.main .container .tab-content .cards .card .underline {
  margin-top: 28px;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background: #ECECEC;
}

.main .container .tab-content .cards .card .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 32px;
          column-gap: 32px;
  margin-top: 28px;
  margin-bottom: 4px;
}

.main .container .tab-content .cards .card .buttons .approve {
  background: #fff;
  color: #5744e3;
  font-family: "Gilroy_B";
  font-size: 18px;
  text-align: center;
  padding: 16px 0;
  border: 2px solid #5744e3;
  outline: none;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.main .container .tab-content .cards .card .buttons .approve:hover {
  background: #f4f3ff;
}

.main .container .tab-content .cards .card .buttons .approve:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

.main .container .tab-content .cards .card .buttons .reject {
  background: #fff;
  color: #5744e3;
  font-family: "Gilroy_B";
  font-size: 18px;
  text-align: center;
  padding: 16px 0;
  border: 2px solid #5744e3;
  outline: none;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  color: #ec0000;
  border: 2px solid #ec0000;
}

.main .container .tab-content .cards .card .buttons .reject:hover {
  background: #f4f3ff;
}

.main .container .tab-content .cards .card .buttons .reject:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

.main .container .tab-content .cards .card .buttons .reject:hover {
  background: #fde1e1;
}

.main .container .tab-con-active {
  display: block;
}

.alertt {
  background: #fff;
  padding: 18px 18px 18px 24px;
  -webkit-box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.16);
  border-radius: 6px;
  border-left: 10px solid #ec0000;
  position: fixed;
  bottom: 5%;
  right: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 32px;
          column-gap: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 4;
}

.alertt .econtent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.alertt .econtent img {
  width: 22px;
  height: auto;
}

.alertt .econtent .text {
  font-family: "Gilroy_M";
  font-size: 18px;
}

.alertt .alert-close {
  width: 16px;
  height: auto;
  cursor: pointer;
}

.alert-hidden {
  visibility: hidden;
}

.alert-visible {
  visibility: visible;
}

.loading {
  display: block;
  pointer-events: none;
  overflow: hidden;
}

.loading .loading-overlay {
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.096);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.loading .gif {
  width: 100%;
  height: auto;
}

.loading .gif img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 300px;
}

.loading-hide {
  display: none;
}
/*# sourceMappingURL=wm_task_approval.css.map */